.Notification {
	position: absolute;
	left: 0;
	right: 0;
	padding: 1rem;
	z-index: 10;
	&__success {
		background-color: #6EE7B7;
		color: green;
	}
	&__error {
		background-color: #e76e6e;
		color: #333333;
	}
}