.Cell {
	width: 48px;
	height: 48px;
	border: 1px solid white;
	&__red {
		background-color: red;
	}

	&__green {
		background-color: green;
	}
}

[class*=Cell_] {
  user-select: none;
}

.highlight {
  opacity: 0.6;
}
