.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Board {
  .Row {
    display: flex;
  }

  .Reset {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      background-color: #34D399;
      outline: none;
      border: none;
      color: green;
      padding: 1rem;
      cursor: pointer;
      &:hover {
        background-color: #6EE7B7;
      }
    }
  }
}